<%- include('partials/head.ejs') %>
		<nav>
			<ul>
				<li><a href="/">Boodschappen</a></li>
			</ul>
		</nav>
		<main>
			<h1>Boodschappenlijstje</h1>
			<ul>
				<% if (!Array.isArray(groceries)) { %>
					<li><%= groceries %></li>
				<% } 	%>

				<% if (Array.isArray(groceries)) {
					 for(var i=0; i < groceries.length; i++) { %>
					 <li><%= groceries[i] %></li>
					<% }
				} %>

			</ul>
		</main>


<%- include('partials/foot.ejs') %>
