/*
TODO
- vw
-

*/

body {
	margin: 0;
	padding: 0;
	font-family: helvetica;
}

a {
	color: black;
	text-decoration: none;
}

nav {
	background-color: grey;
	width: 100vw;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav a {
	font-size: 0.9em;
}

nav ul li {
	text-align: center;
	padding: 0.5em 0;
}

@media (min-width: 48em) {
	nav ul li {
		display: inline-block;
		width: 10vw;
	}

	@supports (display: flex) {
		nav ul {
			display: flex;
			float: none;
		}

		nav ul li {
			flex-basis: 10vw;
		}
	}

  header svg {
    display: none;
  }
}
